
/* primary color-#212121 */
/* secondary color-#757575 */
/* logo and hover color-#2196F3 */

:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196F3;
--button-hover-color: #188CE8;
--primary-background-color: #ffffff;
--hero-footer-background-color: #2F303A;
--footer-contacts-color: rgba(255, 255, 255, 0.6);
--button-bgc-color: #F5F4FA
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
 a {
    color: var(--primary-text-color);
    text-decoration: none;
}

 /* logo */
 .logo {
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
 }
.accent {
    color: var(--accent-color);
}
.accent:hover,
.accent:focus {
color: var(--primary-text-color);
}
.logo:hover,
.logo:focus {
color: #2196F3;
}

/* site-nav */
.site-nav {
   font-weight: 500; 
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

/* contacts */
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color: var(--hero-footer-background-color);
    color: var(--primary-background-color);
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase
}
button {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}
.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
}
.hero-button:focus,
.hero-button:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */
.features-header {
    opacity: 0;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-description {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Work description */
.work-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

/* Our team */
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.members-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
        color: var(--title-text-color);
}

/* Footer */
.footer {
    background-color: var(--hero-footer-background-color);
    color: var(--primary-background-color) ;
    
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
}
.accent-footer {
    color: var(--accent-color);
}
.logo-footer:hover,
.logo-footer:focus {
    color: #2196F3;
}
.accent-footer:hover,
.accent-footer:focus {
    color: var(--primary-background-color);
}
.address1 {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
}

.address1:focus,
.address1:hover {
    color: var(--accent-color);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.address {
    font-style: normal;
    color: var(--footer-contacts-color);
}
.address:focus,
.address:hover {
    color: var(--accent-color);
}


/* Portfolio */

/* Filters list */
.filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.button {
    background-color: var(--button-bgc-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:focus,
.button:hover {
    color: var(--accent-color);
}

/* Portfolio section */
.portfolio-items {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.items-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}